* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #d7ccff;
}

.box {
    position: relative;
    width: 3x00px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.box p {
    font-size: 1cm;
    font-weight: 700;
    color: #8a2be2;
}

.box p span {
    color: #8a2be2;
}

.box button {
    background: #8a2be2;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    outline: none;
    font-size: 1.4cm;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.box button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}